In [1]:
import numpy as np
import pandas as pd

path = 'https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/'

CASE: Gapminder

Os dados dos exercícios a seguir tem como fonte o site Gapmider.

In [2]:
%%capture
!wget https://github.com/open-numbers/ddf--gapminder--co2_emission/raw/master/ddf--entities--country.csv
!wget https://github.com/open-numbers/ddf--gapminder--co2_emission/raw/master/ddf--datapoints--yearly_co2_emissions_1000_tonnes--by--country--year.csv
!wget https://github.com/open-numbers/ddf--bp--energy/raw/master/ddf--datapoints--coal_electricity_generation_twh--by--geo--year.csv

Q0. Inspecione os dados.
Inspecione as bases de dados antes de prosseguir. Acesse e faça ao menos um head() de cada conjunto de dados.

In [3]:
paises = pd.read_csv('https://github.com/open-numbers/ddf--gapminder--co2_emission/raw/master/ddf--entities--country.csv')
paises.head()

  country         name
0    abkh     Abkhazia
1     abw        Aruba
2     afg  Afghanistan
3     ago       Angola
4     aia     Anguilla

In [6]:
emi = pd.read_csv('https://github.com/open-numbers/ddf--gapminder--co2_emission/raw/master/ddf--datapoints--yearly_co2_emissions_1000_tonnes--by--country--year.csv')
emi.head()

  country  year  yearly_co2_emissions_1000_tonnes
0     abw  1959                         719.95990
1     abw  1960                         619.06728
2     abw  1961                         646.08113
3     abw  1962                         709.52273
4     abw  1963                         679.64378

In [5]:
eletricidade = pd.read_csv('https://github.com/open-numbers/ddf--bp--energy/raw/master/ddf--datapoints--coal_electricity_generation_twh--by--geo--year.csv')
eletricidade.head()

         geo  year  coal_electricity_generation_twh
0  argentina  1985                            0.607
1  argentina  1986                            1.013
2  argentina  1987                            1.016
3  argentina  1988                            1.586
4  argentina  1989                            0.865

Q1. merge()
Crie um DataFrame df das emissões de CO2 incluindo o nome do país.

(Moodle) Verifique da lista abaixo quais países não tem dados para o ano mais recente da base.
Dica:

Crie um DataFrame df_lista com a lista de países
Crie um DataFrame df_temp fazendo um left join com df_lista
Separe como df_temp[df_temp.isna().any(axis=1)] os valores nulos incluídos de df_lista no left join

In [18]:
df = pd.merge(paises,emi,left_on='country',right_on='country')
df= df[df.year==2018]
df

      country          name  year  yearly_co2_emissions_1000_tonnes
59        abw         Aruba  2018                         897.88160
129       afg   Afghanistan  2018                        9446.51745
198       ago        Angola  2018                       34565.47943
227       aia      Anguilla  2018                         156.47729
313       alb       Albania  2018                        4573.70537
...       ...           ...   ...                               ...
19832     wsm         Samoa  2018                         259.19002
19901     yem         Yemen  2018                       10148.94713
20215     zaf  South Africa  2018                      467944.96168
20275     zmb        Zambia  2018                        5232.31591
20382     zwe      Zimbabwe  2018                       12272.73824

[213 rows x 4 columns]

Empty DataFrame
Columns: [country, name, year, yearly_co2_emissions_1000_tonnes]
Index: []