In [75]:
import pandas as pd
import numpy as np

In [3]:
tips = pd.read_csv('https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Considere a base de dados tips. Considerando somente os finais de semana, quem tem média de participantes na mesa maior, fumantes ou não fumantes

In [35]:
Sabado = tips[tips.day == 'Sat']
Domingo = tips[tips.day == 'Sun']
FinalDsemna = pd.concat([Sabado,Domingo])

In [37]:
FinalDsemna

     total_bill   tip     sex smoker  day    time  size
19        20.65  3.35    Male     No  Sat  Dinner     3
20        17.92  4.08    Male     No  Sat  Dinner     2
21        20.29  2.75  Female     No  Sat  Dinner     2
22        15.77  2.23  Female     No  Sat  Dinner     2
23        39.42  7.58    Male     No  Sat  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3
190       15.69  1.50    Male    Yes  Sun  Dinner     2

[163 rows x 7 columns]

In [41]:
FinalDsemna.value_counts('smoker')

smoker
No     102
Yes     61
dtype: int64

In [54]:
str(round((102/163)*100)) + ' %'

'63 %'

In [53]:
str(round((61/163)*100)) + ' %'

'37 %'

==========================================================================================================================================================

Acesse a base de dados insurance para as questões a seguir.

In [56]:
en = pd.read_csv('https://raw.githubusercontent.com/Rogerio-mack/IMT_Ciencia_de_Dados/main/data/insurance.csv')
en.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Q2. Qual percentual de homens e mulheres assegurados na base?

In [72]:
display(en.groupby(en.sex=='female').count())

       age  sex  bmi  children  smoker  region  charges
sex
False  676  676  676       676     676     676      676
True   662  662  662       662     662     662      662

In [86]:
print(f'Homens = {round(676/len(en),2)}')

Homens = 0.51

In [87]:
print(f'Mulheres = {round(662/len(en),2)}')

Mulheres = 0.49

Q3. Qual o total do valor de seguro pago por homens e mulheres segurados na base?

In [117]:
en.groupby(en.sex).sum('charges').charges

sex
female    8.321061e+06
male      9.434764e+06
Name: charges, dtype: float64

In [120]:
print(f'mulher  = {en.groupby(en.sex).sum("charges").charges.to_list()[0]}')

mulher  = 8321061.194619

In [121]:
print(f'homen  = {en.groupby(en.sex).sum("charges").charges.to_list()[1]}')

homen  = 9434763.79614

Q4. Qual o precentual de valor de seguros pagos por homens e mulheres segurados na base?

In [126]:
print(f'Percentual mulher = {round(en.groupby(en.sex).sum("charges").charges.to_list()[0]/(en.groupby(en.sex).sum("charges").charges.to_list()[0]+en.groupby(en.sex).sum("charges").charges.to_list()[1]),2)}')

Percentual mulher = 0.47

In [127]:
print(f'Percentual homen = {round(en.groupby(en.sex).sum("charges").charges.to_list()[1]/(en.groupby(en.sex).sum("charges").charges.to_list()[0]+en.groupby(en.sex).sum("charges").charges.to_list()[1]),2)}')

Percentual homen = 0.53

Q5. Não fumantes apresentam em média mais filhos?

In [128]:
totalFilhos = en.children.count()
totalFilhos

1338

In [132]:
naoFumantes = en[en.smoker == 'no']
naoFumantes

      age     sex     bmi  children smoker     region      charges
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
...   ...     ...     ...       ...    ...        ...          ...
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500

[1064 rows x 7 columns]

In [134]:
filhosDeNaoFumantes = naoFumantes.children.count()
filhosDeNaoFumantes

1064

In [142]:
print(f'{round(filhosDeNaoFumantes/totalFilhos,2)*100} %')

80.0 %

Q6. Qual a média e maior de idade dentre os segurados homem, das regiões northwest ou northeast?

In [154]:
west = en[en.region == 'northwest']
heast = en[en.region == 'northeast']
regiao = pd.concat([west,heast])
regiao

      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
24     37    male  28.025         2     no  northwest   6203.90175
...   ...     ...     ...       ...    ...        ...          ...
1321   62    male  26.695         0    yes  northeast  28101.33305
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1334   18  female  31.920         0     no  northeast   2205.98080

[649 rows x 7 columns]

In [156]:
regiao = regiao[regiao.sex == 'male']
regiao

      age   sex     bmi  children smoker     region      charges
3      33  male  22.705         0     no  northwest  21984.47061
4      32  male  28.880         0     no  northwest   3866.85520
24     37  male  28.025         2     no  northwest   6203.90175
28     23  male  17.385         1     no  northwest   2775.19215
33     63  male  28.310         0     no  northwest  13770.09790
...   ...   ...     ...       ...    ...        ...          ...
1304   42  male  24.605         2    yes  northeast  21259.37795
1315   18  male  28.310         1     no  northeast  11272.33139
1318   35  male  39.710         4     no  northeast  19496.71917
1321   62  male  26.695         0    yes  northeast  28101.33305
1325   61  male  33.535         0     no  northeast  13143.33665

[324 rows x 7 columns]

In [157]:
regiao.age.mean()

38.848765432098766

==========================================================================================================================================================

Q7. Quantos tipos de energia e países diferentes há na base?

In [222]:
energia = pd.read_csv('https://raw.githubusercontent.com/Rogerio-mack/IMT_Ciencia_de_Dados/main/data/energy_types.csv')
energia.head()

,country,country_name,type,level,2016,2017,2018
0,BE,Belgium,Conventional thermal,Level 1,30728.0,31316.0,30092.635
1,BE,Belgium,Nuclear,Level 1,41430.0,40128.5,26995.628
2,BE,Belgium,Hydro,Level 1,1476.0,1360.9,1239.248
3,BE,Belgium,Pumped hydro power,Level 2,1110.0,1093.2,983.190
4,BE,Belgium,Wind,Level 1,5340.0,6387.9,7177.346

In [189]:
grupo = energia.groupby(energia.country)
len(grupo)

37

In [192]:
grupo.type.count()

country
AL    8
AT    8
BA    8
BE    8
BG    8
CY    8
CZ    8
DE    8
DK    8
EE    8
EL    8
ES    8
FI    8
FR    8
GE    8
HR    8
HU    8
IE    8
IT    8
LT    8
LU    8
LV    8
ME    8
MK    8
MT    8
NL    8
NO    8
PL    8
PT    8
RO    8
RS    8
SE    8
SI    8
SK    8
TR    8
UA    8
UK    8
Name: type, dtype: int64

Q8. Qual o percentual de energia nuclear produzido na Europa no ano de 2018?

In [205]:
totalEnergia = energia['2018'].sum()
totalEnergia

3787674.63

In [199]:
nuclear = energia[energia.type == 'Nuclear']['2018'].sum()
nuclear

868333.983

In [207]:
print(f'percentual Nuclear Total = {round(nuclear/totalEnergia,2)} ')

percentual Nuclear Total = 0.23

Q9. Qual o percentual de energia nuclear produzido na França no ano de 2018?

In [251]:
totalFR = energia[energia.country == 'FR']
totalFR = totalFR['2018'].sum()
totalFR

560767.871

In [236]:
FR = energia[energia.country == 'FR']
FR = float(FR[FR.type == 'Nuclear']['2018'])
FR

393153.254

In [252]:
print(f'percentual Nuclear Franca = {round(FR/totalFR,2)} ')

percentual Nuclear Franca = 0.7

Q10. Qual o percentual de energias limpas produzida na Europa no ano de 2018?
Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.

In [253]:
energia

,country,country_name,type,level,2016,2017,2018
0,BE,Belgium,Conventional thermal,Level 1,30728.0,31316.0,30092.635
1,BE,Belgium,Nuclear,Level 1,41430.0,40128.5,26995.628
2,BE,Belgium,Hydro,Level 1,1476.0,1360.9,1239.248
3,BE,Belgium,Pumped hydro power,Level 2,1110.0,1093.2,983.190
4,BE,Belgium,Wind,Level 1,5340.0,6387.9,7177.346
...,...,...,...,...,...,...,...
291,GE,Georgia,Pumped hydro power,Level 2,0.0,0.0,0.000
292,GE,Georgia,Wind,Level 1,9.0,87.7,84.226
293,GE,Georgia,Solar,Level 1,0.0,0.0,0.000
294,GE,Georgia,Geothermal,Level 1,0.0,0.0,0.000
295,GE,Georgia,Other,Level 1,0.0,0.0,0.000

In [259]:
Solar = energia[energia.type == 'Solar']
Agua = energia[energia.type =='Hydro']
Vento = energia[energia.type == 'Wind']
Termica = energia[energia.type == 'conventional thermal']

In [260]:
energiaLimpa = pd.concat([Solar,Agua,Vento,Termica])

In [261]:
energiaLimpa

,country,country_name,type,level,2016,2017,2018
5,BE,Belgium,Solar,Level 1,3070.00,3264.300,3488.979
13,BG,Bulgaria,Solar,Level 1,1386.00,1402.766,1043.000
21,CZ,Czechia,Solar,Level 1,2110.00,2168.740,2317.645
29,DK,Denmark,Solar,Level 1,743.78,751.485,952.973
37,DE,Germany,Solar,Level 1,38098.00,39401.000,46184.000
...,...,...,...,...,...,...,...
260,RS,Serbia,Wind,Level 1,26.00,48.457,150.419
268,TR,Turkey,Wind,Level 1,15381.00,17793.167,19825.697
276,BA,Bosnia & Herzegovina,Wind,Level 1,0.00,0.000,22.368
284,UA,Ukraine,Wind,Level 1,949.00,974.000,1185.900
292,GE,Georgia,Wind,Level 1,9.00,87.700,84.226

In [263]:
totalEnergiaLimpa = energiaLimpa['2018'].sum()
totalEnergiaLimpa

1144294.4009999998

In [265]:
print(f'percentual de energias limpas = {round(totalEnergiaLimpa/totalEnergia,2)}')

percentual de energias limpas = 0.3

Q11. Considerando os anos de 2016, 2017 e 2018, a produção de energias limpas tem aumentado na Europa? Verifique em termos absolutos e percentuais.
Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.

In [267]:
D8 = energiaLimpa['2018'].sum()
D16 = energiaLimpa['2016'].sum()
D17 = energiaLimpa['2017'].sum()

In [269]:
total16 = energia['2016'].sum()
total17 = energia['2017'].sum()
total18 = energia['2018'].sum()

In [277]:
print(f'Percentual em 2016 = {round((D16/total16)*100,2)} % e Absoluto de  = {D16}')
print(f'Percentual em 2017 = {round((D17/total17)*100,2)} % e Absoluto de  = {D17}')
print(f'Percentual em 2018 = {round((D8/total18)*100,2)} % e Absoluto de  = {D8}')

Percentual em 2016 = 28.07 % e Absoluto de  = 1062021.5839999998
Percentual em 2017 = 27.9 % e Absoluto de  = 1066121.965
Percentual em 2018 = 30.21 % e Absoluto de  = 1144294.4009999998